@use "functions";
@use "mixins";

$default-padding-size: #{functions.get_scale_value('3', 'size')};
$default-margin-size: #{functions.get_scale_value('0', 'size')};
$default-border-radius-size: #{functions.get_scale_value('3', 'size')};
$default-additional-space-size: #{functions.get_scale_value('3', 'size')};

@layer components {

    // Blocks
    .header, .footer, .btn, .pill {
        @include mixins.color-variables('primary');
    }

    .page {
        @include mixins.color-variables('light');
        padding: #{functions.get_scale_value('0', 'size')};
        background-color: var(--variant-color);
        color: var(--contrast-color);
    
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        &:has(> .header:first-child) {
            padding-block-start: #{functions.get_scale_value('5', 'size')};
        }
        &:has(> .header--vertical:first-child), &:has(> .header--block:first-child) {
            padding-block-start: #{functions.get_scale_value('0', 'size')};
            padding-inline-start: #{functions.get_scale_value('5', 'size')};
        }

        &:has(> .footer:last-child){
            padding-block-end: #{functions.get_scale_value('5', 'size')};
        }
        &:has(> .footer--vertical:last-child), &:has(> .footer--block:last-child) {
            padding-block-end: #{functions.get_scale_value('0', 'size')};
            padding-inline-end: #{functions.get_scale_value('5', 'size')};
        }
    
        &.page--animated {
            transition: box-shadow 0.1s;
            &:hover {
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
            }
        }
    }
    
    .btn {
        --padding: #{functions.get_scale_value('3', 'size')};
        --padding-inline-start: var(--padding);
        --padding-inline-end: calc(var(--padding) / 2);
        --margin: #{functions.get_scale_value('0', 'size')};
    
        display: inline-flex;
        align-items: center;
        justify-content: center;
    
        border-radius: #{functions.get_scale_value('3', 'size')};
        margin: var(--margin);
    
        padding-inline: var(--padding);
        padding-block: calc(var(--padding) / 2);
    
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        border: 1px solid transparent;
        text-decoration: none;
    
        /*user-select: none;*/
        vertical-align: middle;
        line-height: 1.5;
    
    
        background-color: var(--variant-color);
        color: var(--contrast-color);
    
        transition: background-color 0.2s;
        &:hover {
            background-color: var(--mutted-color);
            text-decoration: none;
        }
    }

    .pill {
        border-radius: 1000em;
    }

    .header, .footer {
        
        position: relative;
        --additional-space: #{functions.get_scale_value('3', 'size')};

        --padding: #{functions.get_scale_value('3', 'size')};
        --border-radius: #{functions.get_scale_value('3', 'size')};
        --margin: #{functions.get_scale_value('0', 'size')};
        padding: var(--padding);
        margin: var(--margin);
        background-color: var(--variant-color);
        color: var(--contrast-color);
    
        width: fit-content;
        max-width: 80%;
    }
    
    .header {
        --border-width: 0;
        padding-inline-end: calc(5 * var(--additional-space));
        margin-inline-start: 0;
        border-radius: 0 1000em 1000em 0;

        &.header--outline {
            border-inline-start-width: 0;
        }
    }

    .footer {
        padding-inline-start: calc(5 * var(--additional-space));
        margin-inline-start: auto;  // No needed in header
        margin-inline-end: 0;
        border-radius: 1000em 0 0 1000em;
    
        text-align: right;  // No needed in header

        &.footer--outline {
            border-inline-end-width: 0;
        }
    }

    // Modifiers
    
    .btn--pill {
        border-radius: 1000em;
    }

    // Modifiers: outlines
    .btn--outline, .header--outline, .footer--outline {
        @include mixins.outline-style();
    }
    .btn--outline:hover {
        background-color: var(--variant-color);
        color: var(--contrast-color);
    }
    
    // Modifiers: verticals
    .header--vertical, .header--block, .footer--vertical, .footer--block {
        --additional-space: #{functions.get_scale_value('9', 'size')};
        --padding: #{functions.get_scale_value('3', 'size')};
        --margin: #{functions.get_scale_value('0', 'size')};
    
        padding: var(--padding);
        margin: var(--margin);

        color: var(--contrast-color);

        width: fit-content;
        text-align: center;
    
        display: flex;
        flex-direction: column;
        align-items: center;

        & * {
            text-align: center;
            width: fit-content;
        }
    }

    // Modifiers: vertical headers
    .header--vertical, .header--block {
        padding-block-end: var(--additional-space);
    
        margin-inline-start: calc(var(--additional-space) / 2);
        margin-inline-end: auto;
        margin-inline-start: 0;
        margin-block-end: calc(var(--additional-space) / 2);
        
        border-radius: 0 0 1000em 1000em;
        background-color: var(--variant-color);
    
        &.header--outline {
            border-width: 0 var(--border-width) var(--border-width) var(--border-width);
        }
    
    }
    
    // Modifiers: vertical footers
    .footer--vertical, .footer--block {

        padding-block-start: var(--additional-space);
        margin-inline-start: auto;
        margin-inline-end: calc(var(--additional-space) / 2);;
    
        border-radius: 1000em 1000em 0 0;
        background-color: var(--variant-color);
    
        &.footer--outline{
            border-width: var(--border-width) var(--border-width) 0 var(--border-width);
        }
    }

    .header--outline {
        @include mixins.outline-style();
    }

    .footer--outline {
        @include mixins.outline-style();
    }

}
