@use "sass:map";
@use "variables";
@use "functions";

@layer components {
    .page {
        padding: #{functions.get-value-from-scale('0', 'size')};
        
    
        --variant-color: #{functions.get-value-from-variant('light', 'color')};
        --contrast-color: #{functions.get-value-from-variant('light', 'contrast-color')};
    
        background-color: var(--variant-color);
        color: var(--contrast-color);
    
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        &:has(> .header) {
            padding-block-start: #{functions.get-value-from-scale('5', 'size')};
        }

        &:has(> .footer) {
            padding-block-end: #{functions.get-value-from-scale('5', 'size')};
        }

    }
    
    .page-animated {
        transition: box-shadow 0.1s;
        &:hover {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
        }
    }
    
    .btn {
        --padding: #{functions.get-value-from-scale('3', 'size')};
        --padding-inline-start: var(--padding);
        --padding-inline-end: calc(var(--padding) / 2);
        --margin: #{functions.get-value-from-scale('0', 'size')};
    
        display: inline-flex;
        align-items: center;
        justify-content: center;
    
        border-radius: #{functions.get-value-from-scale('3', 'size')};
        margin: var(--margin);
    
        padding-inline: var(--padding);
        padding-block: calc(var(--padding) / 2);
    
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        border: 1px solid transparent;
        text-decoration: none;
    
        /*user-select: none;*/
        vertical-align: middle;
        line-height: 1.5;
    
    
        background-color: var(--variant-color);
        color: var(--contrast-color);
    
        transition: background-color 0.2s;
        &:hover {
            background-color: var(--mutted-color);
            text-decoration: none;
        }
    }

    .btn-outline {
        background-color: transparent;
        border: 1px solid var(--variant-color);
        color: var(--variant-color);
    
        &:hover {
            background-color: var(--variant-color);
            color: var(--contrast-color);
        }
    }
    
    .pill, .btn-pill {
        border-radius: 1000em;
    }

    .header, .header-inline, .footer, .footer-inline {
        position: relative;
        --additional-space: #{functions.get-value-from-scale('3', 'size')};

        --padding: #{functions.get-value-from-scale('3', 'size')};
        --border-radius: #{functions.get-value-from-scale('3', 'size')};
        --margin: #{functions.get-value-from-scale('0', 'size')};
        padding: var(--padding);
        margin: var(--margin);
        background-color: var(--variant-color);
        color: var(--contrast-color);
    
        width: fit-content;
        max-width: 80%;
    }
    
    .header, .header-inline {
        padding-inline-end: calc(5 * var(--additional-space));
        margin-inline-start: 0;
        border-radius: 0 1000em 1000em 0;

        &.header-outline {
            border-inline-start-width: 0;
        }
    }
    
    .header-vertical, .header-block, .footer-vertical, .footer-block {
        --additional-space: #{functions.get-value-from-scale('9', 'size')};
        --padding: #{functions.get-value-from-scale('3', 'size')};
        --margin: #{functions.get-value-from-scale('0', 'size')};
    
        padding: var(--padding);
        margin: var(--margin);

        color: var(--contrast-color);

        width: fit-content;
        text-align: center;
    
        display: flex;
        flex-direction: column;
        align-items: center;

        & * {
            text-align: center;
            width: fit-content;
        }
    }
    .header-vertical, .header-block {
        padding-block-end: var(--additional-space);
        //--a: 5em;
    
        margin-inline-start: calc(var(--additional-space) / 2);
        margin-inline-end: auto;
        margin-block-end: calc(var(--additional-space) / 2);
        
        border-radius: 0 0 1000em 1000em;
        background-color: var(--variant-color);
    
        &.header-outline{
            border-block-start-width: 0;
        }
    
    }

    .header-outline {
        // It is not an utility, but a modification of a component
        background-color: transparent;
        border: 1px solid var(--variant-color);
        color: var(--variant-color);
    }
    
    .footer, .footer-inline {
        padding-inline-start: calc(5 * var(--additional-space));
        margin-inline-start: auto;
        margin-inline-end: 0;
        border-radius: 1000em 0 0 1000em;
    
        text-align: right;

        &.footer-outline {
            border-inline-end-width: 0;
        }
    }
    
    
    .footer-vertical, .footer-block {

        padding-block-start: var(--additional-space);
        margin-inline-start: auto;
        margin-inline-end: calc(var(--additional-space) / 2);;
    
        border-radius: 1000em 1000em 0 0;
        background-color: var(--variant-color);
    
        &.footer-outline{
            border-block-end-width: 0;
        }
    }

    .footer-outline {
        // It is not an utility, but a modification of a component
        background-color: transparent;
        border: 1px solid var(--variant-color);
        color: var(--variant-color);
    }
}
