@use "sass:map";
@use "variables";
@layer utilities {    
    @each $variant, $colors in variables.$variants {
        .bg-#{$variant} {
            background-color: #{map.get($colors, 'color')};
            color: #{map.get($colors, 'contrast-color')};
        }

        .variant-#{$variant} {
            --variant-color: #{map.get($colors, 'color')};
            --mutted-color: #{map.get($colors, 'mutted-color')};
            --contrast-color: #{map.get($colors, 'contrast-color')};
            --darker-color: #{map.get($colors, 'darker-color')};
            &.outline {
                --darker-color: var(--mutted-color);
            }
        }
    }
    .bg {
        background-color: var(--variant-color);
        color: var(--contrast-color);
    }
    .bg-outline {
        background-color: transparent;
        border: 1px solid var(--variant-color);
        color: var(--variant-color);
    }
    
    .mutted {
        color: var(--mutted-color);
        border-color: var(--mutted-color);
    }
    
    .text-content {
        max-width: 35em;
    }

    .text-center {
        text-align: center;
    }

    .m-auto {
        margin: auto;
    }
    
    .mis-auto {
        margin-inline-start: auto;
    }
    
    .mie-auto {
        margin-inline-end: auto;
    }
    
    .mbs-auto {
        margin-block-start: auto;
    }
    
    .mbe-auto {
        margin-block-end: auto;
    }
    
    .w-max-content {
        width: max-content;
    }
    
    .w-min-content {
        width: min-content;
    }

    .center-all {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    @each $scale, $value in variables.$scales {
        @if map.has-key($value, 'size') {
            $size: map.get($value, 'size');
            // Margin
            .m-#{$scale}-mod {
                --margin: #{$size};
            }
            .m-#{$scale} {
                margin: #{$size};
            }
    
            .mi-#{$scale} {
                margin-inline-start: #{$size};
                margin-inline-end: #{$size};
            }
            .mis-#{$scale} {
                margin-inline-start: #{$size};
            }
            .mie-#{$scale} {
                margin-inline-end: #{$size};
            }
    
            .mb-#{$scale} {
                margin-block-start: #{$size};
                margin-block-end: #{$size};
            }
            .mbs-#{$scale} {
                margin-block-start: #{$size};
            }
            .mbe-#{$scale} {
                margin-block-end: #{$size};
            }
    
            // Padding
            .p-#{$scale}-mod {
                --padding: #{$size};
            }
            .p-#{$scale} {
                padding: #{$size};
            }
    
            .pi-#{$scale} {
                padding-inline-start: #{$size};
                padding-inline-end: #{$size};
            }
            .pis-#{$scale} {
                padding-inline-start: #{$size};
            }
            .pie-#{$scale} {
                padding-inline-end: #{$size};
            }
            .pb-#{$scale} {
                padding-block-start: #{$size};
                padding-block-end: #{$size};
            }
            .pbs-#{$scale} {
                padding-block-start: #{$size};
            }
            .pbe-#{$scale} {
                padding-block-end: #{$size};
            }
    
            .br-#{$scale} {
                /* Border radius of #{$size} */
                border-radius: #{size};
            }

            // Additional space
            .as-#{$scale} {
                --additional-space: #{$size};
            }
    
        }
    
        @if map.has-key($value, 'font-size') {
            .fs-#{$scale} {
                font-size: #{map.get($value, 'font-size')};
            }
        }
    }
    
    //*********** Displays ***********
    .d-inline {
        display: inline;
    }
    
    .d-inline-block {
        display: inline-block;
    }
    
    .d-block {
        display: block;
    }
    
    .d-flex {
        display: flex;
    }
    
    .d-inline-flex {
        display: inline-flex;
    }
    
    .flex-grow {
        flex-grow: 1;
    }
    
    .flex-shrink {
        flex-shrink: 1;
    }
    
    .flex-direction-row {
        flex-direction: row;
    }
    
    .flex-direction-row-reverse {
        flex-direction: row-reverse;
    }
    
    .flex-direction-column {
        flex-direction: column;
    }
    
    .flex-direction-column-reverse {
        flex-direction: column-reverse;
    }
    
    .d-grid {
        display: grid;
    }
    
    .d-inline-grid {
        display: inline-grid;
    }
    
    .align-items-start {
        align-items: start;
    }
    
    .align-items-center {
        align-items: center;
    }
    
    .align-items-end {
        align-items: end;
    }
    
    .align-items-stretch {
        align-items: stretch;
    }
    
    @each $scale, $value in variables.$scales {
        @if map.has-key($value, 'size') {
            $size: map.get($value, 'size');
    
            @if $size > 0 {
                .grid-auto-fill-#{$scale} {
                    /* Create as many columns as possible with a minimum size of #{$size} */
                    grid-template-columns: repeat(auto-fill, minmax(Min(100%, #{$size}), 1fr));
                }
    
                .grid-auto-fit-#{$scale} {
                    /* Create as many columns as possible with a minimum size of #{$size} */
                    grid-template-columns: repeat(auto-fit, minmax(Min(100%, #{$size}), 1fr));
                }
            }
    
            .gap-#{$scale} {
                gap: #{$size};
            }
        }
    }

    @for $number from 1 through 256 {
        .grid-columns-#{$number} {
            /* Create #{$number} columns of the same size */
            grid-template-columns: repeat(#{$number}, 1fr);
        }

        .grid-rows-#{$number} {
            /* Create #{$number} rows of the same size */
            grid-template-rows: repeat(#{$number}, 1fr);
        }
    }
    @for $number from 1 through 360 {
        .rotate-#{$number} {
            display: inline-block;
            transform: rotate(#{$number}deg);
            transform-origin: center;
        }
    }
}