@use "colors";
@use "sizes";
@use "functions";
@use "mixins";

@layer utilities {    
    @each $variant in colors.$variant-keys {
        .variant-#{$variant} {
            --variant-color: #{functions.get_variant_color($variant, 'color')};
            --mutted-color: #{functions.get_variant_color($variant, 'mutted-color')};
            --contrast-color: #{functions.get_variant_color($variant, 'contrast-color')};
            --darker-color: #{functions.get_variant_color($variant, 'darker-color')};
        }
    }
    .bg {
        background-color: var(--variant-color);
        color: var(--contrast-color);
    }
    .bg--outline {
        @include mixins.outline-style;
    }
    
    .mutted {
        color: var(--mutted-color);
        border-color: var(--mutted-color);
    }
    
    .text-content {
        max-width: 35em;
    }

    .text-center {
        text-align: center;
    }

    .m-auto {
        margin: auto;
    }
    
    .mis-auto {
        margin-inline-start: auto;
    }
    
    .mie-auto {
        margin-inline-end: auto;
    }
    
    .mbs-auto {
        margin-block-start: auto;
    }
    
    .mbe-auto {
        margin-block-end: auto;
    }
    
    .w-max-content {
        width: max-content;
    }
    
    .w-min-content {
        width: min-content;
    }

    .center-all {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    
    @each $scale-key in sizes.$scale-keys {
        $size: functions.get_scale_value($scale-key, 'size');
        @if $size != null {
            // Margin
            .m-#{$scale-key}-mod {
                --margin: #{$size};
            }
            .m-#{$scale-key} {
                margin: #{$size};
            }
    
            .mi-#{$scale-key} {
                margin-inline-start: #{$size};
                margin-inline-end: #{$size};
            }
            .mis-#{$scale-key} {
                margin-inline-start: #{$size};
            }
            .mie-#{$scale-key} {
                margin-inline-end: #{$size};
            }
    
            .mb-#{$scale-key} {
                margin-block-start: #{$size};
                margin-block-end: #{$size};
            }
            .mbs-#{$scale-key} {
                margin-block-start: #{$size};
            }
            .mbe-#{$scale-key} {
                margin-block-end: #{$size};
            }
    
            // Padding
            .p-#{$scale-key}-mod {
                --padding: #{$size};
            }
            .p-#{$scale-key} {
                padding: #{$size};
            }
    
            .pi-#{$scale-key} {
                padding-inline-start: #{$size};
                padding-inline-end: #{$size};
            }
            .pis-#{$scale-key} {
                padding-inline-start: #{$size};
            }
            .pie-#{$scale-key} {
                padding-inline-end: #{$size};
            }
            .pb-#{$scale-key} {
                padding-block-start: #{$size};
                padding-block-end: #{$size};
            }
            .pbs-#{$scale-key} {
                padding-block-start: #{$size};
            }
            .pbe-#{$scale-key} {
                padding-block-end: #{$size};
            }
    
            .br-#{$scale-key} {
                /* Border radius of #{$size} */
                border-radius: #{size};
            }

            // Width
            .w-#{$scale-key} {
                width: #{$size};
            }

            // Additional space
            .as-#{$scale-key} {
                --additional-space: #{$size};
            }
    
        }
    
        $font-size: functions.get_scale_value($scale-key, 'font-size');
        @if $font-size != null {
            .fs-#{$scale-key} {
                font-size: #{$font-size};
            }
        }
    }
    
    //*********** Displays ***********
    .d-inline {
        display: inline;
    }
    
    .d-inline-block {
        display: inline-block;
    }
    
    .d-block {
        display: block;
    }
    
    .d-flex {
        display: flex;
    }
    
    .d-inline-flex {
        display: inline-flex;
    }
    
    .flex-grow {
        flex-grow: 1;
    }
    
    .flex-shrink {
        flex-shrink: 1;
    }
    
    .flex-direction-row {
        flex-direction: row;
    }
    
    .flex-direction-row-reverse {
        flex-direction: row-reverse;
    }
    
    .flex-direction-column {
        flex-direction: column;
    }
    
    .flex-direction-column-reverse {
        flex-direction: column-reverse;
    }
    
    .d-grid {
        display: grid;
    }
    
    .d-inline-grid {
        display: inline-grid;
    }
    
    .align-items-start {
        align-items: start;
    }
    
    .align-items-center {
        align-items: center;
    }
    
    .align-items-end {
        align-items: end;
    }
    
    .align-items-stretch {
        align-items: stretch;
    }
    
    @each $scale-key in sizes.$scale-keys {
        $size: functions.get_scale_value($scale-key, 'size');
        @if $size != null and $size > 0 {    
            @if $size > 0 {
                .grid-auto-fill-#{$scale-key} {
                    /* Create as many columns as possible with a minimum size of #{$size} */
                    grid-template-columns: repeat(auto-fill, minmax(Min(100%, #{$size}), 1fr));
                }
    
                .grid-auto-fit-#{$scale-key} {
                    /* Create as many columns as possible with a minimum size of #{$size} */
                    grid-template-columns: repeat(auto-fit, minmax(Min(100%, #{$size}), 1fr));
                }
            }
    
            .gap-#{$scale-key} {
                gap: #{$size};
            }
        }
    }

    @for $number from 1 through 360 {
        .grid-columns-#{$number} {
            /* Create #{$number} columns of the same size */
            grid-template-columns: repeat(#{$number}, 1fr);
        }

        .grid-rows-#{$number} {
            /* Create #{$number} rows of the same size */
            grid-template-rows: repeat(#{$number}, 1fr);
        }
        .rotate-#{$number} {
            display: inline-block;
            transform: rotate(#{$number}deg);
            transform-origin: center;
        }
    }
}