@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
$font-family: 'Duplicate', 'Noto Sans', 'Roboto', sans-serif !default;


$white:    hsl(0, 0%, 100%) !default;
$gray-100: hsl(210, 17%, 98%) !default;
$gray-200: hsl(210, 25%, 93%) !default;
$gray-300: hsl(210, 16%, 87%) !default;
$gray-400: hsl(210, 14%, 80%) !default;
$gray-500: hsl(210, 10%, 69%) !default;
$gray-600: hsl(210, 7%, 46%) !default;
$gray-700: hsl(210, 9%, 32%) !default;
$gray-800: hsl(210, 10%, 20%) !default;
$gray-900: hsl(210, 15%, 13%) !default;
$black:    hsl(210, 0%, 0%) !default;

/*********** Pantone ***********/
/* Naranja */
$pantone-7599: hsl(9, 66%, 46%);  // oscuro
$pantone-7578: hsl(24, 75%, 49%);  // neutral
$pantone-7578: hsl(33, 91%, 47%);  // brillante
$pantone-144-50: hsl(30, 88%, 73%);  // brillante 50%
$naranja-oscuro: #{$pantone-7599};
$naranja-neutral: #{$pantone-7578};
$naranja-brillante: #{$pantone-7578};
$naranja-brillante-50: #{$pantone-144-50};

/* Magenta */
$pantone-222: hsl(330, 58%, 19%);  // oscuro
$pantone-220: hsl(330, 100%, 32%);  // neutral
$pantone-219: hsl(327, 80%, 47%);  // brillante
$pantone-219-50: hsl(330, 70%, 74%);  // brillante 50%
$magenta-oscuro: #{$pantone-222};
$magenta-neutral: #{$pantone-220};
$magenta-brillante: #{$pantone-219};
$magenta-brillante-50: #{$pantone-219-50};

/* Verde */
$pantone-7483: hsl(147, 41%, 26%);  // oscuro
$pantone-7741: hsl(123, 47%, 40%);  // neutral
$pantone-362: hsl(112, 53%, 40%);  // brillante
$pantone-362-50: hsl(108, 41%, 70%);  // brillante 50%
$verde-oscuro: #{$pantone-7483};
$verde-neutral: #{$pantone-7741};
$verde-brillante: #{$pantone-362};
$verde-brillante-50: #{$pantone-362-50};

/* Dark */
$dark-oscuro: hsl(0, 0%, 10%);
$dark-neutral: hsl(0, 0%, 0%);
$dark-brillante-50: hsl(0, 0%, 50%);

/* Light */
$light-oscuro: hsl(0, 0%, 90%);
$light-neutral: hsl(0, 0%, 100%);
$light-brillante-50: hsl(0, 0%, 50%);


/* Pro */
$pantone-199: hsl(347, 100%, 42%);  // pro
$pantone-black: hsl(0, 0%, 0%);  // oscuro
$pantone-black-50: hsl(0, 0%, 50%);  // brillante 50%
$pro-oscuro: hsl(347, 100%, 15%);
$pro-neutral: $pantone-199;
$pro-brillante-50: hsl(347, 100%, 80%);

/* MU */
$pantone-316: hsl(187, 100%, 16%);  // oscuro
$pantone-7467: hsl(183, 100%, 34%);  // neutral
$pantone-7467-60: hsl(183, 64%, 60%);  // brillante
$pantone-7467-35: hsl(183, 64%, 77%);  // brillante 50
$mu-oscuro: $pantone-316;
$mu-neutral: $pantone-7467;
$mu-brillante: $pantone-7467-60;
$mu-brillante-50: $pantone-7467-35;

/* MU Secondary */
$mu-secondary-oscuro: hsl(187, 100%, 5%);
$mu-secondary-neutral: $pantone-316;
$mu-secondary-brillante-50: hsl(187, 100%, 80%);

/* CTA */
$pantone-123: hsl(45, 100%, 53%);  // neutral
$cta-oscuro: hsl(45, 100%, 20%);
$cta-neutral: $pantone-123;
$cta-brillante-50: hsl(45, 100%, 85%);

$variants: (
    'primary': (
        'color': $mu-neutral,
        'mutted-color': $mu-brillante-50,
        'darker-color': $mu-oscuro,
        'contrast-color': $white,
    ),
    'secondary': (
        'color': $mu-secondary-neutral,
        'mutted-color': $mu-secondary-brillante-50,
        'darker-color': $mu-secondary-oscuro,
        'contrast-color': $white,
    ),
    /*'mgep': (
        'color': $white,
        'mutted-color': #007bff,
        'contrast-color': #004085,
    ), 
    'eteo': (
        'color': $white,
        'mutted-color': #007bff,
        'contrast-color': #004085,
    ), 
    'huezi': (
        'color': $white,
        'mutted-color': #007bff,
        'contrast-color': #004085,
    ),*/ 
    'pro': (
        'color': $pro-neutral,
        'mutted-color': $pro-brillante-50,
        'darker-color': $pro-oscuro,
        'contrast-color': $white,
    ),
    'cta': (
        'color': $cta-neutral,
        'mutted-color': $cta-brillante-50,
        'darker-color': $cta-oscuro,
        'contrast-color': $white,
    ), 
    'success': (
        'color': $verde-neutral,
        'mutted-color': $verde-brillante-50,
        'darker-color': $verde-oscuro,
        'contrast-color': $white,
    ), 
    'danger': (
        'color': $magenta-neutral,
        'mutted-color': $magenta-brillante-50,
        'darker-color': $magenta-oscuro,
        'contrast-color': $white,
    ), 
    'warning': (
        'color': $naranja-neutral,
        'mutted-color': $naranja-brillante-50,
        'darker-color': $naranja-oscuro,
        'contrast-color': $white,
    ), 
    'info': (
        'color': hsl(200, 100%, 41%),
        'mutted-color': hsl(200, 100%, 80%),
        'darker-color': hsl(200, 100%, 20%),
        'contrast-color': $white,
    ), 
    'light': (
        'color': $light-neutral,
        'mutted-color': $light-brillante-50,
        'darker-color': $light-oscuro,
        'contrast-color': $black,
    ), 
    'dark': (
        'color': $dark-neutral,
        'mutted-color': $dark-brillante-50,
        'darker-color': $dark-oscuro,
        'contrast-color': $white,
    ), 
) !default;


/*********** Scales ***********/

$scales: (
    '0': (
        'size': 0,
        'font-size': 0,
    ),
    '1': (
        'size': 1px,
        'font-size': 12px,
    ),
    '2': (
        'size': 4px,
        'font-size': 14px,
    ),
    '3': (
        'size': 8px,
        'font-size': 16px,
    ),
    '4': (
        'size': 12px,
        'font-size': 18px,
    ),
    '5': (
        'size': 16px,
        'font-size': 20px,
    ),
    '6': (
        'size': 24px,
        'font-size': 24px,
    ),
    '7': (
        'size': 32px,
        'font-size': 30px,
    ),
    '8': (
        'size': 48px,
        'font-size': 36px,
    ),
    '9': (
        'size': 64px,
        'font-size': 48px,
    ),
    '10': (
        'size': 96px,
        'font-size': 60px,
    ),
    '11': (
        'size': 128px,
        'font-size': 72px,
    ),
    '12': (
        'size': 192px,
    ),
    '13': (
        'size': 256px,
    ),
    '14': (
        'size': 384px,
    ),
    '15': (
        'size': 512px,
    ),
    '16': (
        'size': 640px,
    ),
    '17': (
        'size': 768px,
    ),
    '18': (
        'size': 896px,
    ),
    '19': (
        'size': 1024px,
    ),
    '20': (
        'size': 1280px,
    ),
)!default;



$size-0: 0 !default;
$size-1: 1px !default;
$size-2: 2px !default;
$size-3: 4px !default;
$size-4: 6px !default;
$size-5: 8px !default;